@model QuanLyBanSachLaKho.Models.TacGia

@{
    ViewBag.Title = "Thêm Tác Giả Mới";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<link href="~/css/kesach.css" type="text/css" rel="stylesheet" asp-append-version="true" />

<br />
<h2 style="text-align: center;"><b>THÊM TÁC GIẢ MỚI</b></h2>

<div class="log">
    <div class="formdangnhap container">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <p>Vui lòng nhập dữ liệu vào đây:</p>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <hr />

            <div class="form-group">
                <label for="matg"><b>Mã Tác Giả:</b></label><br />
                @Html.EditorFor(model => model.MaTG, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MaTG, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                <label for="tentg"><b>Tên Tác Giả:</b></label><br />
                @Html.EditorFor(model => model.TenTG, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TenTG, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                <label for="sinhtg"><b>Ngày Sinh Tác Giả:</b></label><br />
                @Html.EditorFor(model => model.NgaySinhTG, new { htmlAttributes = new { @class = "form-control", type = "date" } })
                @Html.ValidationMessageFor(model => model.NgaySinhTG, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                <label for="motatg"><b>Mô Tả Tác Giả:</b></label><br />
                @Html.EditorFor(model => model.MoTaTG, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MoTaTG, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                <label for="sdttg"><b>Số Điện Thoại Tác Giả:</b></label><br />
                @Html.EditorFor(model => model.SdtTG, new { htmlAttributes = new { @class = "form-control", type = "text" } })
                @Html.ValidationMessageFor(model => model.SdtTG, "", new { @class = "text-danger" })
            </div>

            <div class="clearfix">
                <button type="submit" class="signupbtn">THÊM MỚI TÁC GIẢ</button>
            </div>
        }

        <div class="clearfix">
            <p>@Html.ActionLink("Quay về danh sách", "Index")</p>
        </div>
    </div>
</div>