@using QuanLyBanSachLaKho.Models
@model IEnumerable<Sach>

<tr><td class="top" colspan="4"><b>Sách Giảm Giá</b></td></tr>
<tr class="middle">
    @foreach (var sach in Model)
    {
        <td>
            <div id="tooltip">
                <a href="@Url.Action("Xem", "Sach", new {id = sach.MaSach})">
                    <img src="~/image/@sach.HinhSach" />
                </a>
                <div id="tooltiptext">
                    <ul class="introduce">
                        <li class="tacpham">@sach.TenSach</li>
                        <li class="tacgia">@sach.TacGia.TenTG</li>
                        <li class="gia">@(sach.DonGia)đ</li>
                        <li style="padding-bottom: 7px;">@Html.ActionLink("Mua hàng", "MuaNgay", "GioHang", new { MaSP = sach.MaSach },
                                            htmlAttributes: new { @class = "mua", @role = "button" })
                        </li>
                        <li style="padding-bottom: 7px;">@Html.ActionLink("Thêm vào giỏ hàng", "ThemVaoGio", "GioHang", new { MaSP = sach.MaSach },
                                            htmlAttributes: new { @class = "gio", @role = "button" })
                        </li>
                    </ul>
                </div>
            </div>
        </td>
    }
</tr>
<tr><td class="bookshelf" colspan="4"></td></tr>
