@model QuanLyBanSachLaKho.Models.KhachHang

@{
    ViewBag.Title = "Tài Khoản Của Người Dùng";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<link href="~/css/kesach.css" type="text/css" rel="stylesheet" asp-append-version="true" />

<br />
<h2 style="text-align: center;"><b>THÔNG TIN TÀI KHOẢN</b></h2>

<div class="log">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="formdangnhap container">
            <table class="formuser">
                <tr>
                    <td class="userinfo">
                        <h4>Thông tin cá nhân</h4>

                        <div class="row row-cols-1">
                            <ul>
                                <li>
                                    @Html.LabelFor(model => model.HoDemKH, "Họ Và Tên Đệm:", htmlAttributes: new { })

                                    @Html.EditorFor(model => model.HoDemKH, new
                                        { htmlAttributes = new { @class = "form-control", required = "required" } })
                                    @Html.ValidationMessageFor(model => model.HoDemKH, "", new { @class = "text-danger" })
                                </li>
                                <li>
                                    @Html.LabelFor(model => model.TenKH, "Tên:", htmlAttributes: new { })

                                    @Html.EditorFor(model => model.TenKH, new
                                        { htmlAttributes = new { @class = "form-control", required = "required" } })
                                    @Html.ValidationMessageFor(model => model.TenKH, "", new { @class = "text-danger" })
                                </li>
                                <li>
                                    @Html.LabelFor(model => model.NgaySinh, "Ngày Sinh:", htmlAttributes: new { })

                                    @Html.EditorFor(model => model.NgaySinh, new
                                        { htmlAttributes = new { @class = "form-control", type = "date" } })
                                    @Html.ValidationMessageFor(model => model.NgaySinh, "", new { @class = "text-danger" })
                                </li>
                                <li style="margin-bottom: -15px;">
                                    @Html.LabelFor(model => model.GioiTinh, "Giới Tính:", htmlAttributes: new { })

                                    Nam: @Html.RadioButtonFor(model => model.GioiTinh, "Nam", new { htmlAttributes = new { type = "radio" } })
                                    Nữ: @Html.RadioButtonFor(model => model.GioiTinh, "Nữ", new { htmlAttributes = new { type = "radio" } })
                                    @Html.ValidationMessageFor(model => model.GioiTinh, "", new { @class = "text-danger" })
                                </li>
                                <li>
                                    @Html.LabelFor(model => model.DiaChiKH, "Địa Chỉ:", htmlAttributes: new { })

                                    @Html.EditorFor(model => model.DiaChiKH, new
                                        { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.DiaChiKH, "", new { @class = "text-danger" })
                                </li>
                                <li>
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    @Html.HiddenFor(model => model.MaKH)
                                </li>
                                <li class="clearfix" style="padding-top: 250px; padding-left: 240px; ">
                                    <input type="submit" value="Lưu thông tin" class="btn btn-info"
                                           style="width: 50%; color: azure; " />
                                </li>
                            </ul>
                        </div>
                    </td>

                    <td class="userconnect">
                        <h4>Số điện thoại và Email</h4>
                        <div class="row row-cols-1">
                            <ul>
                                <li>
                                    @Html.LabelFor(model => model.SdtKH, "Số điện thoại:", htmlAttributes: new { })

                                    @Html.TextBoxFor(model => model.SdtKH, new
                                        { htmlAttributes = new { @class = "form-control", required = "required" } })
                                    @Html.ValidationMessageFor(model => model.SdtKH, "", new { @class = "text-danger" })
                                </li>
                                <li>
                                    @Html.LabelFor(model => model.Email, "Email:", htmlAttributes: new { })

                                    @Html.EditorFor(model => model.Email, new
                                        { htmlAttributes = new { @class = "form-control", required = "required" } })
                                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                </li>
                            </ul>
                        </div>
                        <h4>Bảo mật</h4>
                        <div class="row row-cols-1">
                            <ul>
                                <li>
                                    @Html.LabelFor(model => model.TaiKhoan, "Tài khoản:", htmlAttributes: new { })

                                    @Html.EditorFor(model => model.TaiKhoan, new
                                        { htmlAttributes = new { @class = "form-control", required = "required" } })
                                    @Html.ValidationMessageFor(model => model.TaiKhoan, "", new { @class = "text-danger" })
                                </li>
                                <li>
                                    @Html.LabelFor(model => model.MatKhau, "Mật khẩu:", htmlAttributes: new { })

                                    @Html.EditorFor(model => model.MatKhau, new
                                        { htmlAttributes = new { @class = "form-control", required = "required" } })
                                    @Html.ValidationMessageFor(model => model.MatKhau, "", new { @class = "text-danger" })
                                </li>
                            </ul>
                        </div>
                        <h4>Liên kết mạng xã hội</h4>
                        <div class="row justify-content-md-center">
                            <ul class="col col-lg-2">
                            </ul>
                            <ul class="col-md-auto">
                                <li><button class="social-signin facebook">Facebook</button></li>
                                <li><button class="social-signin twitter">Twitter</button></li>
                                <li><button class="social-signin google">Google+</button></li>
                            </ul>
                            <ul class="col col-lg-2">
                            </ul>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    }
</div>
