@model IEnumerable<QuanLyBanSachLaKho.Models.Sach>

@{
    ViewBag.Title = "Danh Sách Các Sách";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>QUẢN LÝ SÁCH</h2>

<div style="padding-bottom:10px;">
    <a class="btn btn-light" href='@Url.Action("Create", "Sach")' role="button">
        + Thêm Sách Mới
    </a>
</div>
<div class="table-responsive">
    <table class="table">
        <tr class="bg-warning">
            <th>
                Mã Sách
            </th>
            <th>
                Tên Sách
            </th>
            <th>
                Kích Thước
            </th>
            <th>
                Số Trang
            </th>
            <th>
                Ngày Phát Hành
            </th>
            <th>
                Giá Bìa
            </th>
            <th>
                Đơn Giá
            </th>
            <th>
                Số Lượng
            </th>
            <th>
                Mô Tả
            </th>
            <th>
                Hình Sách
            </th>
            <th>
                NXB
            </th>
            <th>
                Tác Giả
            </th>
            <th>
                Thể Loại
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr class="table-warning">
                <td>
                    @Html.DisplayFor(modelItem => item.MaSach)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TenSach)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.KichThuoc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SoTrang)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NgayPhatHanh.ToString().Split(' ')[0])
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GiaBia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DonGia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SoLuongSach)
                </td>
                <td>
                    @if (item.MoTaSach != null)
                    {
                        <span>@(item.MoTaSach.ToString().Substring(0, 50))...</span>
                    }
                </td>
                <td>
                    <img src="~/image/@item.HinhSach" style="width:35px" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NhaXuatBan.TenNXB)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TacGia.TenTG)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TheLoai.TenTheLoai)
                </td>
                <td>
                    <a href='@Url.Action("Edit", "Sach", new { id = item.MaSach })'>
                        <i class="icon icon-wrap nalika-edit"></i>
                    </a><br />
                    <a href='@Url.Action("Details", "Sach", new { id = item.MaSach })'>
                        <i class="icon icon-wrap nalika-info"></i>
                    </a><br />
                    <a href='@Url.Action("Delete", "Sach", new { id = item.MaSach })'>
                        <i class="icon icon-wrap nalika-delete-button"></i>
                    </a><br />
                </td>
            </tr>
        }
    </table>
</div>